/* 

COLORS 

av, icons, buttons : #0084FD ;

primary color: #B5DDFF ;

secondary color: #9792E4 ;

f0oter color: #333333 ;

freeColor: #FDC15F; 

*/


/*
***************
    RESET
***************
*/

body {
    font-family: 'PT Sans', sans-serif;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
    display: inline-block;
}


/*
******************
    GENERERICS    
******************
*/

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 1rem 2rem;
}


section {

    margin: 1.5rem 0;
}


section:nth-child(odd) {
    background-color: white;
}


section:nth-child(even) {

    background-color: #9792E4;
    color: white;

}

/*
******************
    SPECIFIC    
******************
*/


/* HEADER */

.header {
    color: white;
    background-color: #0084FD;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.burger {
    font-size: 2rem;
}

/*
************************
    CARD SECTION    
************************
*/


.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #B5DDFF;
    padding: 0rem 2rem;
    border-radius: 20px;
    margin: 2.5rem 0;
}

.card__title {
    font-size: 2rem;
    color: #0084FD;
    margin: 2rem 0;
}

.card__paragraph {
    font-weight: bold;
    color: #90AFCB;
    margin-bottom: 2rem;
}

.card__btn {
    background-color: #0084FD;
    color: white;
    padding: 1rem 4rem;
    border: none;
    border-radius: 20px;
    margin-bottom: 2rem;
    font-size: 1rem;
}

.card__icon {
    font-size: 3rem;
    padding-top: 2rem;
    color: #0084FD;
}


/*
************************
    PLANNING SECTION    
************************
*/

.planning-section img {
    max-width: 80%;
}

.planning__title {
    margin: 2rem 0;
}

.planning__card {
    margin-top: 2rem;
    background-color: #ffff;
    border-radius: 30px;
    color: black;
    padding: 0 2rem;
}

.planning__card__title {

    margin-top: 2rem;
}

.planning__card p {
    font-style: italic;
    margin: 2rem 0;
}


.planning__arrow {

    background-color: #9792E4;
    padding: 1.5rem;
    border-radius: 50%;
    margin-bottom: 2rem;
}


/*
******************
   TESTIMONIALS    
******************
*/


.light_caps_title {

    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.testimonial__title {

    color: #9792E4;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.testimonial__paragraph {

    font-size: 1.5rem;
    font-weight: 100;
    word-spacing: .3rem;
    line-height: 1.5rem;
    margin-bottom: 2rem;

}

.testimonial__card {

    background-color: #9792E4;
    padding: 1rem 6rem;
    color: white;
    border-radius: 30px;
    margin: 2rem 0;
}

.testimonial__card img {

    border-radius: 50%;
    margin: 2rem 0;
}

.testimonial__quote {
    font-size: 25px;
    padding-bottom: 2rem;
}

.testimonial__quote::before {
    content: open-quote;
    font-size: 4rem;
    font-weight: bold;
}

.testimonial__quote::after {
    content: close-quote;
    font-size: 4rem;
    font-weight: bold;

}

.testimonial__name {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 5px;
}


/*
*********************
    BENEFITS SECTION   
*********************
*/


.benefit__row {

    display: flex;
}


/*
******************
    MEDIA QUERIES    
******************
*/



/* TABLET */

@media screen and (min-width: 577px) {
    
    /* CARD SECTION */

    .card__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: -1rem -2rem;
    }

    .card {
        margin: 1rem 0;
        padding: 1rem 1rem 0 1rem;
    }

    .card__title {
        font-size: 1.5rem;
    }

    .col {
        display: flex;
        width: calc((100% - 2rem) / 3);
    }

    .col.xl {
        width: calc((100% - 2rem) / 3 * 2);
    }


    /* TESTIMONIAL SECTION */


    .testimonial__card {
        display: flex;
        align-items: center;
        padding: 1rem;
    }

    .testimonial__img {
        max-width: none;
        width: 200px;
        height: 200px;
        margin: 2rem;
        object-fit: cover;

    }

    .testimonial__quote,
    .testimonial__name {

        font-size: 1rem;
    }


}


/* DESKTOP */


@media screen and (min-width: 992px) {


    /* CARDS */

    .col.xl .card {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .card__img {
        max-width: 40%;
        object-fit: cover;
    }

    /* PLANNING */


    .planning__row {

        display: flex;
    }


    .planning-section img {
        max-width: 50%;
    }


    .planning__paragraph {
        text-align: center;
    }

    .planning__left__col {
        width: 50%;
    }


    .planning__right__col {
        width: 50%;
        margin-top: 6rem;
    }

    .planning__card {

        width: 80%;
    }


    /* TESTIMONIALS */
}